
.clearfix:after {
    content: "020";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.clearfix {
    /* 兼容IE6/IE7, 触发 hasLayout */
    zoom: 1;
}

body {
    width: 1000px;
    margin: 0 auto;
    background-color: #fff0df;
}

header {
    position: relative;
    box-sizing: border-box;
    width: 1000px;
    height: 73px;
    padding-left: 40px;
    border-top: 3px solid #f26530;
    background-color: #fff;
}

.logo {
    position: absolute;
    top: 50%;
    width: 218px;
    height: 66px;
    margin-top: -33px;
}

nav {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 759px;
    height: 47px;
    line-height: 47px;
    font-family: "微软雅黑", sans-serif;
    font-size: 16px;
    color: #fff;
}

nav:after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    display: block;
    width: 707px;
    height: 0;
    border-bottom: 47px solid #231f20;
    border-left: 52px solid transparent;
}

nav ul {
    z-index: 99;
    position: relative;
    padding: 0;
    margin: 0 auto 0 90px;
}

nav ul li {
    float: left;
    margin-left: 8px;
    margin-right: 8px;
    list-style-type: none;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 0 8px;
}

nav ul li a.current {
    background-color: #f26530;
}

nav ul li a:hover {
    text-decoration: none;
    background-color: #f58c64;
}

.content {
    box-sizing: border-box;
    padding-top: 19px;
    background: url(../images/content_bg.jpg) no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.banner-wrapper {
    position: relative;
    width: 1000px;
    height: 325px;
    background: url(../images/banner.png) no-repeat;
}

.sidebar {
    position: absolute;
    top: 28px;
    width: 224px;
    height: 112px;
    background: url(../images/sidebar_bg.png) no-repeat;
}

.sidebar ul li {
    height: 50px;
    margin: 4px 0;
    font-family: "微软雅黑", sans-serif;
}

.sidebar-students {
    width: 198px;
    background: url(../images/sidebar_01.png) no-repeat;
}

.sidebar-teachers {
    width: 214px;
    background: url(../images/sidebar_02.png) no-repeat;
}

.selected-students {
    width: 199px;
    background: url(../images/sidebar_01_curr.png) no-repeat;
}

.selected-teachers {
    width: 215px;
    background: url(../images/sidebar_02_curr.png) no-repeat;
}

.sidebar ul li a {
    display: block;
    height: 50px;
    line-height: 50px;
    padding-left: 40px;
    font-size: 16px;
    color: #fff;
}

/*轮播图*/
.show-works {
    box-sizing: border-box;
    width: 1000px;
    padding: 0 40px 15px 40px;
}

.show-works section:not(:first-of-type) {
    display: none;
}

.slideshow {
    overflow: hidden;
    position: relative;
    width: 919px;
    height: 320px;
    margin: 0 auto;
}

.slideshow .list {
    position: absolute;
    bottom: 0;
    width: 1838px;
    height: 293px;
}

.slideshow li {
    float: left;
    position: relative;
    cursor: pointer;
}

.slideshow li:not(:nth-of-type(4n)) {
    margin-right: 13px;
}

.slideshow li img {
    display: block;
    width: 220px;
    height: 293px;
}

.img-title {
    position: absolute;
    bottom: 0;
    width: 220px;
    padding: 13px 0;
    border-bottom: 2px solid transparent;
    background-color: #231f20;
    opacity: .5;
    text-align: center;
    color: #fff;
    font-size: 16px;
}

.slideshow li:hover .img-title {
    border-bottom: 2px solid #13a9cf;
    opacity: .8;
}

#prev, #next {
    position: absolute;
    top: 50%;
    width: 41px;
    height: 53px;
    margin-top: -27px;
    opacity: .5;
    cursor: pointer;
}

#prev {
    left: 0;
    background: url(../images/arrow_prev.png) no-repeat;
}

#next {
    right: 0;
    background: url(../images/arrow_next.png) no-repeat;
}

#prev:hover, #next:hover {
    opacity: .7;
}

.slideshow .buttons {
    position: absolute;
    top: 0;
    right: 2px;
}

.slideshow .buttons span {
    float: left;
    width: 10px;
    height: 10px;
    margin-right: 10px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background-color: #3f3a3b;
    cursor: pointer;
}

.slideshow .buttons span.on, .slideshow .buttons span:hover {
    background-color: #13a9cf;
}

/*footer*/
footer {
    width: 1000px;
    background-color: #231f20;
    border-bottom: 4px solid #f0c002;
}

footer:before {
    content: "";
    display: block;
    width: 920px;
    height: 0;
    border-top: 40px solid #f26530;
    border-right: 40px solid #231f20;
    border-left: 40px solid #231f20;
}

.footer-triangle {
    width: 0;
    height: 0;
    margin: 0 auto;
    border-top: 16px solid #f26530;
    border-right: 16px solid transparent;
    border-left: 16px solid transparent;
}

.footer-info {
    padding: 18px 0 28px 0;
    text-align: center;
    line-height: 2em;
    color: #fff;
    font-family: "微软雅黑", sans-serif;
    font-size: 12px;
}